{% extends 'base.html' %}
{% block content %}
<body>
  <div class="cd-schedule__events">
    <ul>
      <li class="cd-schedule__group">
        <div class="cd-schedule__top-info"><span>Понедельник</span></div>

        <ul>
          <li class="cd-schedule__event">
            <a data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2" href="#0">
              <em class="cd-schedule__name">Rowing Workout</em>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</body>
{% endblock %}
